:root{
    --darken: #303030;
    --dark: #353535;
    --dark_medium: #808080;
    --dark_light: #cecece;
    --dark_extra_light: #e2e0e0;
    --light: #fff;
    --medium:#afafaf;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--light);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    gap: 1.6rem;

    grid-template-columns: repeat(12, 1fr);
}

.header-container{
    background-color: var(--darken);
}

.header{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    gap: 1rem;

    grid-template-rows: 1fr;
    
}

    .header .shop-bag{
        grid-area: 1/2;
        justify-self: end;
    }

    .footer{
        background-color: var(--darken);
        grid-column: 1/-1;
    }
    
    .header{
        padding: 2rem;
    }

    .footer{
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow-x: hidden;
    }

    .footer .container .social{
        grid-area: 2;

        display: flex;
        gap: .5rem;
    }

        .footer .social .icon-placeholder{
            height: 2rem;
            width: 2rem;
            background-color: var(--dark_extra_light);
            display: inline-block;
            margin: .5rem .5rem .5rem 0;
        }

            .footer .social .icon.placeholder:hover{
                cursor: pointer;
                opacity: .7;
            }

    ul.main-menu{
        grid-area: 2/1/2/3;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

        ul.main-menu > li{
            height: 1rem;
            width: 4rem;
            background-color: var(--dark_medium);
            display: inline-block;
        }

            ul.main-menu > li.active{
                background-color: var(--dark_extra_light);
            }

            ul.main-menu > li:hover{
                cursor: pointer;
                background-color: var(--dark_light);
            }

p.placeholder{
    margin-top: 1rem;
    height: 1rem;
    background-color: var(--dark_extra_light);
}

    p.placeholder.sm{
        width: 60%;
    }

    p.placeholder.cta{
        width: 10rem;
        margin-top: 4rem;
    }

h1.placeholder,
h2.placeholder,
h3.placeholder,
h4.placeholder{
    height: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: var(--dark_medium);
}

    h1.placeholder,
    h2.placeholder,
    h3.placeholder,
    h4.placeholder{
        width: 50%;
    }

    .section:first-of-type h1.placeholder,
    .section:first-of-type h2.placeholder,
    .section:first-of-type h3.placeholder,
    .section:first-of-type h4.placeholder{
        margin-top: 0;
    }

    .article .container > h1.placeholder,
    .article .container > h2.placeholder,
    .article .container > h3.placeholder,
    .article .container > h4.placeholder{
        margin: 0 auto;
    }

.img.placeholder{
    height: 10rem;
    background-color: var(--dark_light);
}

.banner.placeholder{
    height: 20rem;
    background-color: var(--dark_medium);
    grid-column: 1/-1;
}

.icon{
    width: 2rem;
    height: 2rem;
    background-color: var(--dark_medium);
}

.logo.placeholder{
    display: block;
    height: 2rem;
    background-color: var(--dark_light);
    width: 10rem;
}

.bg-section{
    background-color: var(--medium);
}

.article{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero p:first-child{
    margin-top: 0;
    margin-bottom: 1rem;
}

.hero h1{
    margin-bottom: 2rem;
    background-color: var(--dark);
    width: 80%;
}

.hero .img.placeholder{
    grid-column: 1/-1;
    height: 20rem;
}

.hero .description{
    grid-column: 1/-1;
}

.about .section{
    grid-column: 1/-1;
}

    .about .section > .img{
        margin-bottom: 1rem;
    }

    .about .section > .img:last-of-type{
        margin-bottom: 0;
    }

    .about section{
        margin-bottom: 3rem;
    }

    .about section:last-of-type{
        margin-bottom: 1rem;
    }

.trend  .img{
    grid-column: span 6;
    min-height: 15rem;
}

.trend h2{
    grid-column: 1/-1;
}

.choose .container h2{
    grid-column: 1/-1;
}

    .choose .img-card{
        background-color: var(--dark_extra_light);

        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: .5rem;
        align-items: center;
    }
    
        .img-card > .img{
            height: 4rem;
            width: 4rem;
            margin: 0 auto;
        }

        .img-card .card-content{
            grid-column: 2;
            padding: 1rem
        }

            .img-card .card-content p{
                background-color: var(--medium);
            }

.credits{
    text-align: center;
    color: var(--dark_medium);
    font-size: 12px;
    grid-column: 1/9;
    padding-top: 20px;
}

.credits a{
    text-decoration: none;
    color: var(--dark_extra_light);
    white-space: nowrap;
}

.credits a:hover{
    opacity: .8;
}


/** @MEDIA */

@media (min-width: 576px){
    .container .header{
        display: flex;
        justify-content: space-between;
    }

    .logo.placeholder{
        margin-bottom: 0;
    }
    

    .credits{        
        grid-column: 1/13;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .article .container > h1.placeholder,
    .article .container > h2.placeholder,
    .article .container > h3.placeholder,
    .article .container > h4.placeholder{
        margin-left: 0;
        margin-right: 0;
    }

    .choose h2{
        margin: 0 auto;
    }

    .choose .img-card{
        grid-column: span 6;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width:992px){
    .header{
        align-items: center;
    }

    .logo.placeholder{
        grid-area: 1/1;
    }

    ul.main-menu{
        grid-area: 1/1/2/3;
        justify-content: center;
        
        margin-top: 0;
        margin-bottom: 0;
    }

    .trend  .img{
        grid-column: span 3;
    }

    .hero > .container{
        align-items: center;
    }

        .hero h1{
            margin-right: auto;
            margin-left: auto;
        }

        .hero p:first-child{
            margin-top: 0;
            margin: 0 auto 1rem;
        }

        .hero .img.placeholder{
            grid-column: span 5;
        }
        
        .hero .description{
            grid-column: 6/-1;
        }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    .choose .img-card{
        grid-column: span 4;
    }

    .about > .container{
        align-items: center;
    }

    .about .section.about-info{
        grid-column: span 5;
    }

    .about .section.about-img{
        grid-area: 1/7/1/-1;
        display: grid;
        gap: 3rem;
        align-content: center;
        grid-template-columns: repeat(2, minmax(auto, 300px));
        justify-content: center;
        margin-bottom: 0;
    }

        .about .section > .img{
            min-height: 20rem;
            margin-bottom: 0;
        }
}